#timage{
    width: 105px;
    height: 157px;
    box-shadow: 0px 0px 20px 4px rgba(84, 177, 47, 0.301);
    border-radius: 10px;
}
.tmovie .tmoviename {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 149px;
    background-color: rgba(74, 73, 73, 0.705);
    color: #fff;
    font-family: "Franklin Gothic",-apple-system,BlinkMacSystemFont,"PT Sans",Arial,Sans-Serif;
    font-size: large;
    padding: 4px 0;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s;
}

.tmovie:hover .tmoviename {
    visibility: visible;
    position: relative;
    bottom: 100%;

    opacity: 1;
  }



.tmovie{
    border-radius: 10px;
    margin-top: -5px;
    margin: 20px;
    margin-bottom: -14px;
    width: 105px;
    height: 185px;


}

.trating{
    border-radius: 50%;
    background-color: rgb(75, 75, 75);
    width:  30px;
    height: 30px;
    position: relative;
    left: 97px;
    top: -70px;

}

p{
    right: 5px;
    top: 14px;
    position: relative;
    color: rgb(84, 177, 47);
    font-weight: bold;
    font-size: larger;
    z-index: 2;
}